<p>Page set up for testing library components.</p>
<label  id="slider-label">Lower limit</label>
<mat-slider min="0" max="200" discrete aria-labelledby="slider-label">
  <input title="Upper" matSliderThumb value="100">
</mat-slider>

<econ-slider
label="Price"
[min]="50"
[max]="250"
value="100"
showValue="false"
[showPercent]="true"
step="10"
(input)="testSlider($event)"></econ-slider>
<p>Test form fields</p>
<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" value="email" required>
  </mat-form-field>
</div>
<router-outlet></router-outlet>
